data_dir: data
results_dir: data # output example ./data/mls_german_ssl

pipeline: ssl
anon_suffix: !ref _<pipeline>

datasets:
  - name: IEMOCAP_dev
    data: IEMOCAP_dev
  - name: IEMOCAP_test
    data: IEMOCAP_test
  - name: libri_dev
    data: libri_dev
    enrolls: [_enrolls]
    trials: [_trials_f, _trials_m]
  - name: libri_test
    data: libri_test
    enrolls: [_enrolls]
    trials: [_trials_f, _trials_m]
  - name: train-clean-360
    data: train-clean-360

modules:
  anon_suffix: !ref <anon_suffix>
  anon_level_random_per_utt: [
      train-clean-360,
      IEMOCAP_test,
      IEMOCAP_dev,
      libri_dev,
      libri_test,
    ] # Overwrite anon_level_constant because above
  anon_level_constant:            [train-clean-360, IEMOCAP_test, IEMOCAP_dev, libri_dev, libri_test]
  #target_constant_spkid: "6081" # For anon_level_constant, must be one of the training data (libriTTS)
  device: "cuda"
  batch_size: 8 # works with GPU < 12Gib
